%p  are the coolest, rockingness,  latest functional baby clothing accessory. Designed and lovingly hand crafted by Brodaigh Lynch in Melbourne, Australia.   
%p Due to it's clever design, one size fits ages 6 months all the way to 3 years. The mess just wipes clean. A smib is a bib smock hybrid hence the name.
%p Just wipe the mess away! Seriously you can just wipe your kid at the same time you wipe the table. Do you have a kid who refuses to wear a bib? He won't be able to get this one off - true and tested!