%p 
  As we are a new business, just starting out, we don't have all the bells and whistles of automatic emails and payments.  So we offer real live email communication, with real live people! 
  %span.light_pink We will send you an email with your order details and payment instructions soon. 
  We think it's a more personalised service and perhaps a nicer way to do business anyway.